@import "https://fonts.googleapis.com/css?family=Montserrat:600";
@import "https://use.fontawesome.com/releases/v5.2.0/css/all.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: normal 16px "Montserrat", sans-serif;
  padding: 15px;
  background: linear-gradient(
      to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12
    )
    no-repeat;
  background-attachment: fixed;
}
button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
